<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<style>
    ::placeholder {
  color:  #007bff;
  opacity: 1.0;
}



</style>
<body style="background-color: #17202A; color: white;">
<div>
    <div style="text-align: center;">
        <h1 style="padding-top: 200px;">Login!</h1>
        <p style="font-size: 25px; color:#979A9A;">Please login in order to use our features.</p>
        <form method="post" style="padding-top: 20px;">
            <p class="glyphicon glyphicon-user"
               style="padding: 15px 0px 17px 15px; background-color: white; color:#007bff; border: none; text-align: center;"></p><input
                class="container-fluid" type="text" name="username" placeholder="Enter username"
                style="margin-bottom: 20px; width: 700px; height: 50px; border: none; color:#007bff;">
            <p><i class="glyphicon glyphicon-lock"
                  style="padding: 15px 0px 17px 15px; background-color: white; color:#007bff; border: none;"></i><input
                    class="container-fluid" type="password" name="password" placeholder="Enter password"
                    style="margin-bottom: 20px; width: 700px; height: 50px; border: none; color:#007bff;"></p>
            <p><input type="submit" name="submit" style="color: #007bff;"></p>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
</body>
</html>
