<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="static/images/favicon5.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<style>
    ::placeholder {
  color:  #007bff;
  opacity: 1.0;
}


#section1
{
}



















</style>
<script>
    function random()
    {
       var a=document.getElementById('country').value;
       if(a==="Ushqime")
       {
            var array=["Qipsa", "Smoka", "Torte", "Perime"];
       }
       else if(a==="Pije")
       {
            var array=["Coca-Cola", "Fanta", "Pepsi", "Sprite", "Ice-Tea"];
       }
       else if(a==="Higjienë")
       {
            var array=["Paloma-Banjo", "Domestos", "Sapun i Lengshem", "Paloma-Kuzhine"];
       }
       else
       {
            var array=[];
       }
       var string="";
       for(i=0;i<array.length;i++)
       {
           string=string+"<option>"+array[i]+"</option>";
       }
       string="<select class='container-fluid' name='product' style='margin-bottom: 20px; width: 700px; height: 50px; border: none; color:#007bff;'>"+string+"</select>";
       document.getElementById('output').innerHTML=string;
}














</script>
<body style="background-color: #17202A; color: white;">
<div style="padding-bottom: 50px;">
    <a href="/home"><img src="static/images/favicon5.png" alt="Logo" height="50" style="padding: 10px 10px 0px"></a>

    <div style="text-align: center;">
        <h1 style="padding-top: 50px;">Order</h1>
        <form method="post" style="padding-top: 20px;">
            <p style="margin-bottom: 0px;">
                <select class="container-fluid" id="country" name="category" onchange="random()"
                        style="margin-bottom: 20px; width: 700px; height: 50px; border: none; color:#007bff;" required>
                    <option value="Select country">Select category</option>
                    <option value="Ushqime">Ushqime</option>
                    <option value="Pije">Pije</option>
                    <option value="Higjienë">Higjienë</option>
                </select>
            </p>
            <div id="output">
                <select style="margin-bottom: 20px; width: 700px; height: 50px; border: none; color:#007bff;" required>
                    <option></option>
                </select>

            </div>
            <p style="margin-bottom: 0px;"><input class="container-fluid" type="number" name="quantity" pattern="[0-9]*"
                                                  placeholder="Enter the quantity of the product"
                                                  style="margin-bottom: 20px; width: 700px; height: 50px; border: none; color: #007bff;"
                                                  required>
            </p>
            <p><a href=# id=process_input>
                <button class='btn btn-default' style="margin-bottom: 50px; color:#007bff;">Add item</button>
            </a></p>
        </form>
    </div>

    {% for item in orders %}
    <div style="margin-top: 5px; text-align: center;">
        <div style="margin-bottom: 5px;">

            <div class="btn-group" style="text-align: center; margin-top: 0px;">
                <button type="button" class="btn btn-primary btn-lg">Category: {{item.category}}
                </button>

            </div>
            <div class="btn-group" style="text-align: center; margin-top: 0px;">
                <button type="button" class="btn btn-primary btn-lg">Product: {{item.product}}
                </button>

            </div>
            <div class="btn-group" style="text-align: center; margin-top: 0px;">
                <button type="button" class="btn btn-primary btn-lg">Quantity: {{item.quantity}}
                </button>

            </div>
            <div class="btn-group" style="text-align: center; margin-top: 0px;">
                <button type="button" class="btn btn-primary btn-lg">
                    Price : {{item.price}} euro
                </button>

            </div>
        </div>
    </div>
    {% endfor %}


    <div style="text-align: center; margin: 15px 0px 15px">
        <button class="btn btn-primary btn-lg" style="background-color: #2573C6;">
            Total : {{total}} euro
        </button>

    </div>
    <div style="text-align: center;">
        <form method="get">
            <p>Got all you need? Click the button below to <strong>order now!</strong></p>
            <p><a href=#>
                <button class='btn btn-default' style="color:#007bff;">Order</button>
            </a></p>
        </form>
    </div>

</div>
</body>
</html>
