<div class="container">
    <p style="font-size: 30px; margin-bottom: 20px;">Greetings <strong style="font-size: 33px;">{{user}}</strong></p>
    <p>Your sign up at our website has been successful.</p>
    <p>We the staff wish that you have the best experience and are here to help you with any problem or request that you might have.</p>
    <p>Our contact information can be found below:</p>
        <p>Email: eol.nuha22@gmail.com<br>
        Phone number: 049793208
    </p>

    <h2>Best regards <b><i>PygamesWithEol</i></b></h2>
    <hr>
</div>

